body {
    font: 16px Arial;
    background-color: #2d3e43;
    overflow: hidden;
    font-size: 16px;
}

#timer {
    margin: 10px auto;
    text-align: center;
    font-size: 70px;
    color: white;
    position: relative;
    left: 0;
    text-shadow: 1px 1px 0px #c4dbe2, 2px 2px 0px #b4d1d9, 3px 3px 0px #a6c6cf, 4px 4px 0px #94b8c3, 5px 5px 0px #87aeb9, 6px 6px 0px #7aa3af, 7px 7px 0px #6d97a3, 8px 8px 0px #618b98, 9px 9px 0px #56818e, 10px 10px 0px #4c7683, 15px 15px 25px rgba(0, 0, 0, .9);
    transition: .5s ease-in-out;
}

#timer:hover {
    left: 20px;
    text-shadow: -1px 1px 0px #c4dbe2, -2px 2px 0px #b4d1d9, -3px 3px 0px #a6c6cf, -4px 4px 0px #94b8c3, -5px 5px 0px #87aeb9, -6px 6px 0px #7aa3af, -7px 7px 0px #6d97a3, -8px 8px 0px #618b98, -9px 9px 0px #56818e, -10px 10px 0px #4c7683, -15px 15px 25px rgba(0, 0, 0, .9);
}

.center {
    text-align: center;
    padding: 15px;
}

.checker {
    position: relative;
    background-color: #9999FF !important;
    width: 5vw;
    height: 5vh;
    padding: 2px;
    margin: 2px;
    float: left;
}

.container {
    display: flex;
}


/*weight of element*/

.dr {
    text-align: right;
    font-size: 1vmin;
}


/*symbol name*/

.symbol {
    font-size: 2vmin;
    text-align: center
}


/*num of element*/

.num_of_ele {
    position: absolute;
    left: 0.1vmin;
    bottom: 0.1vmin;
    font-size: 1vmin;
    text-align: left;
}

.goodAnswer {
    position: relative;
    background-color: #99FF99 !important;
    width: 5vw;
    height: 5vh;
    padding: 2px;
    margin: 2px;
    float: left;
}

.badAnswer {
    position: relative;
    background-color: #FF9999 !important;
    width: 5vw;
    height: 5vh;
    padding: 2px;
    margin: 2px;
    float: left;
}

.lightgrey {
    position: relative;
    background-color: lightgrey;
    width: 5vw;
    height: 5vh;
    padding: 2px;
    margin: 2px;
    float: left;
}

.invis {
    position: relative;
    background-color: lightgreen;
    opacity: 0;
    width: 5vw;
    height: 5vh;
    padding: 2px;
    margin: 2px;
    float: left;
}

p.gone {
    visibility: hidden;
}

#statistics {
    color: #474747;
}

#game {
    background-color: #E0E0E0;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#insertElement {
    width: 200px;
    height: 30px;
    border-radius: 15px;
}

#reset {
    background: #474747;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    color: silver;
    height: 40px;
    margin-top: 5px;
    border-radius: 15px;
    border: 2px solid black;
}

#reset:hover {
    opacity: 0.7;
}